
/gen

/obj

/bin

/proguard

third_party/mupdf/bin/*
third_party/mupdf/gen/*
third_party/MPChartLib/bin/*
third_party/MultiSlide/bin/*
third_party/progressbar_lib/bin/*
third_party/progressbar_lib/gen/*
third_party/pulltorefresh_lib/bin/*
third_party/StickyListHeaders/bin/*
third_party/RefreshView/bin/*
third_party/RefreshView/gen/*
